@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    --font-overpass-mono: 'Overpass Mono', monospace;
    --font-montserrat: 'Montserrat', sans-serif;
  }

  body {
    font-family: var(--font-montserrat); 
  }
}